$primaryFontColor: white;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: "Eagle Lake", cursive, sans-serif;
	font-size: 1.6rem;
	background-color: grey;
}

/*navigation*/

.menu {
	&__logo {
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: white;
		z-index: 99;
	}

	&__btn {
		position: fixed;
		top: 0;
		right: 0;
		margin: 5px;
		background: none;
		border: none;
		z-index: 99;
	}

	&__items {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		text-align: center;
		text-transform: uppercase;
		transition: 0.7s ease-in-out;
		z-index: 80;
	}
	&__link {
		position: relative;
		width: 100%;
		height: calc(100vh / 8);
		line-height: calc(100vh / 8);
		text-decoration: none;
		color: $primaryFontColor;
	}
}

.show__menu {
	left: 0%;
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: $primaryFontColor;
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham .top {
	stroke-dasharray: 40 172;
}
.ham .middle {
	stroke-dasharray: 40 111;
}
.ham .bottom {
	stroke-dasharray: 40 172;
}
.ham.active .top {
	stroke-dashoffset: -132px;
}
.ham.active .middle {
	stroke-dashoffset: -71px;
}
.ham.active .bottom {
	stroke-dashoffset: -132px;
}

/*header*/

.welcome {
	width: 100vw;
	height: 100vh;
	display: flex;
	text-align: center;
	align-items: center;
	background-image: url(../../images/img1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-size: 2rem;
	text-transform: uppercase;
	color: $primaryFontColor;

}

section {
	width: 100vw;
	height: 100vh;
}
